* {
  font-family: 'Comic Sans MS';
}

body {
  background-color: white;
}

h1 {
  color: CornflowerBlue;
  text-align: center;
}

h2 {
  text-align: center;
}

table {
  table-layout: fixed;
}

.game-link, 
.link {
  text-align: center;
  color: Blue;
  font-family: 'Comic Sans MS';
}

#game-wrapper {
  float: left;
  width: 70%;
}

#game-container {
  text-align: center;
}

#game-id {
  text-align: center;
}

#user-info-container {
  text-align: center;
}


#home-menu,
#game-menu {
  text-align: center;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
